* {
  background-color: #f7f8f9;
  color: #44546f;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.navbar-background {
  background-color: white;
  color: #2c7be5;
}

.table button {
  background-color: #16a34a;
}

.table button1 {
  background-color: #44546f;
}

.table {
  margin-top: 50px;
}

.tag-font-size {
  font-size: 10px !important;
  top: 9px !important;
}
